.material-box {
  margin: 2rem;
  height: 6rem;
  padding: 1rem;
  padding-left: 2rem;
  background-color: $creatix-pink;
}

.content-card{
  position: relative;
    display: inline-block;
    width: 525px;
    height: 100%;
    vertical-align: top;
    background: #fff;
    box-shadow: 2px 2px 6px 0 rgba(41,70,97,.1);
}
