.creatix-btn {
  padding: 0.8rem;
  border: 1px solid;
  border-radius: 4px;
  // Secondary Button
  &.secondary {
    background-color: transparent;
    color: $peach;
    border-color: $creatix-pink;

    &.center {
      width: 20rem;
      margin-left: auto;
      margin-right: auto;
    }

    &.inverted {
      background-color: $creatix-pink;
      color: $white;
    }
  }

  //Primary button
  &.primary {
    background-color: $electron-blue;
    color: $white;

    &.center {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background-color: $belize-hole;
    }

    &:focus {
      background-color: $belize-hole;
      outline: 0;
    }
  }

  .text {
    padding: 0;
    margin: 0;
  }

  &:active {
    border-color: transparent;
  }

  @media screen and (max-width: 39.9375em) {
    padding: 0.3rem;
  }
}

.info-btn {
  width: 70%;
}

.topic-boxes {
  display: flex;
}

.topic-box {
  margin-right: 10px;
  padding: 7px 17px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;

  &.gray {
    background-color: $creatix-gray;
  }
}

.circle {
  border: 1px solid $creatix-gray;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0;
  .circle-content {
    text-align: center;
    top: 50%;
    margin: 0;
    padding: 0;
  }
}
