.creatix-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
  // Secondary Button
  &.secondary {
    background-color: transparent;
    color: $peach;
    border-color: $creatix-pink;

    &.center {
      width: 20rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &.inverted {
      background-color: $creatix-pink;
      color: $white;
    }

    @media screen and (max-width: 39.9375em) {
      padding: 0.3rem;
    }
  }

  // Circle button
  &.circle {
    border-radius: 1000px;
    background-color: $creatix-pink;

    @media screen and (max-width: 39.9375em) {
      padding: 1rem 1.3rem;
      margin: auto;
    }
  }
  //Primary button
  &.primary {
    background-color: $electron-blue;
    color: $white;
    margin: 0;

    &.center {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background-color: $belize-hole;
    }

    &:focus {
      background-color: $belize-hole;
      outline: 0;
    }
    &:active {
      color: $creatix-blue;
    }

    @media screen and (max-width: 39.9375em) {
      padding: 0.3rem;
    }
  }

  .text {
    padding: 0;
    margin: 0;
  }

  &:active {
    border-color: transparent;
  }
}

.info-btn {
  width: 70%;
}

.topic-boxes {
  display: flex;
}

.topic-box {
  margin-right: 10px;
  //padding: 7px 17px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;

  &.gray {
    background-color: $creatix-gray;
    margin: 10px;
  }
  &.pink {
    background-color: $creatix-pink;
  }

  .topic-content {
    margin: 10px;
    white-space: nowrap;
  }
}
