.searchbar {
  width: 100%;
}
.icon-center{
  display: flex;
  align-items: center;
}

.clap {
  cursor: pointer;
  
}

.feedback-list {
  list-style: none;
  margin: 0;
}

.feedback-item {
  border: cornflowerblue;
  border-width: 5px;
  width:30rem;
  //background-color: $creatix-pink-shade;
  border: 1px solid $creatix-pink-shade;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.comment{
  border-top: 1px solid $creatix-pink-shade;
}
