.footer-nav {
  .footer-list {
    list-style: none;

    .footer-item {
      font-family: 'Creatix Light';
      color: $peach;
    }
  }
}

.footer {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-top: 2px solid;
  border-color: $clouds;

  z-index: 11;
  position: absolute;
  width: 100%;
  background-color: white;
}

.footer-content {
  margin-top: 1rem;
  text-align: center;
}
