.header {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "Creatix Medium";
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60rem;
  width: 90%;
}

.site-nav {
  display: block;
  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .nav-item {
      margin-right: 2rem;

      .nav-link {
        color: $creatix-pink;
        position: relative;
        display: inline-block;
      }
      .nav-link_active {
        color: $creatix-blue;
        position: relative;
        display: inline-block;
      }
    }
  }
}

.login-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100%;
  overflow: hidden;

  .login-box {
    border-radius: 10px;
    border: 1px solid;
    border-color: $electron-blue;
    padding: 2rem;
    background-color: $creatix-white-light-blue;
  }
}

.blur-on-modal {
  filter: blur(2px);
  body {
    overflow: hidden;
  }
}

.svg-logo {
  width: 3rem;
  height: auto;
  @media screen and (max-width: 39.9375em) {
    width: 2rem;
    height: auto;
  }
}
