//// HOME STYLING ///
.home-statement {
  padding: 15rem;

  .text-content {
    text-align: center;
  }

  @media screen and (max-width: 39.9375em) {
    padding: 1rem;
  }
}

.creatix-feature-statement {
  text-align: center;
  padding-bottom: 4rem;
}

// Feature cards
.creatix-features {
  background-color: rgba(243, 243, 243, 1);
  padding: 3rem;
  .creatix-card {
    text-align: center;
    border: 1px solid;
    border-color: transparent;
    border-radius: 5px;
    margin-bottom: 10rem;
  }
  @media screen and (max-width: 39.9375em) {
    padding: 0;
    padding-top: 3rem;
  }
}

// Learn more
.centered-button {
  margin-left: 10rem;
  width: 80%;
}

// Icons
.product-icon {
  height: 7rem;
  width: auto;
  margin-bottom: 2rem;
}

.product-icon-xl {
  height: 10rem;
  width: auto;
}


.main-screen{
  min-height: 100vh;
  position: relative;
}