.modal{
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    background-color: $forest-blues;
    padding:1rem;
    top:20%;
    color:$white;
    left:50%;
    width:70%;
    transform:translateX(-50%);
}   