.single-list {
  list-style-type: none;
  margin: 0;
}

.single-list__item {
  background-color: white;
  padding: 8px;
  border-color: $creatix-pink;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 10px;
  appearance: button;
  cursor: pointer;
}

.block-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;

  margin: 0;
  &__item {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

    &--title {
      margin: 10px;
      margin-left: 10px;
    }
  }
}
