.creatix-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;

  // Secondary Button
  &.secondary {
    background-color: transparent;
    color: $peach;
    border-color: $creatix-pink;

    &.center {
      width: 20rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &.inverted {
      background-color: $creatix-pink;
      color: $white;
    }

    &.small {
      font-size: 0.5rem;
    }

    @media screen and (max-width: 39.9375em) {
      padding: 0.3rem;
    }
  }

  // Circle button
  &.circle {
    border-radius: 1000px;
    background-color: $creatix-pink;

    @media screen and (max-width: 39.9375em) {
      padding: 1rem 1.3rem;
      margin: auto;
    }
  }

  //Primary button
  &.primary {
    background-color: $electron-blue;
    color: $white;
    margin: 0;

    &.small {
      padding: 0.1em 0.5em;
    }

    &.round {
      border-radius: 2px;
    }

    &.center {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background-color: $belize-hole;
    }

    &:focus {
      background-color: $belize-hole;
      outline: 0;
    }
    &:active {
      color: $creatix-blue;
    }

    @media screen and (max-width: 39.9375em) {
      padding: 0.3rem;
    }
  }

  .text {
    padding: 0;
    margin: 0;
  }

  &:active {
    border-color: transparent;
  }

  .nav-link {
    color: $creatix-white-light-blue;
    position: relative;
    display: inline-block;
  }

  .nav-link__active {
    color: $creatix-white-light-blue;
    position: relative;
    display: inline-block;
  }
}

.info-btn {
  width: 70%;
}

.topic-boxes {
  display: flex;
}

.topic-box {
  margin-right: 10px;
  //padding: 7px 17px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  min-width: 5rem;
  font-size: 12px;
  font-weight: 600;

  &.gray {
    background-color: $creatix-gray2;
    margin: 10px;
  }
  &.pink {
    background-color: $creatix-pink;
  }

  .topic-content {
    margin: 10px;
    white-space: nowrap;
    text-align: center;
  }
}

/// FLOATING MATERIAL BUTTON
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.floating-menu {
  position: absolute;
  right: 8px;
  bottom: 8px;
  height: 42px;
  text-align: right;
  top: 50%;
  right: 10%;
  /*transition: height 250ms ease-in-out;*/
}

.floating-menu.open {
  height: 150px;
  overflow: hidden;
}

.floating-menu.open .floating-menu-item {
  margin-top: 8px;
}

.floating-menu-item label {
  display: inline-block;
  margin-right: 8px;
  padding: 4px 10px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.floating-menu.open .floating-menu-item label {
  opacity: 0.4;
}

.floating-menu-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  background: #e53935;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.floating-menu-icon .material-icons {
  font-size: 32px;
  color: #fff;
  vertical-align: middle;
}
.floating-button {
  position: fixed;
  right: 10%;
  bottom: 10vh;
  cursor: pointer;
  &__icon {
    fill: $creatix-blue;
    width: 56px;
    height: 56px;
    &:hover {
      border-color: $creatix-pink;
      border-radius: 100%;
      border-style: solid;
      fill: $creatix-pink;
    }
  }
  &:focus {
    outline: 0;
    border-color: blue;
  }
}
