.footer {
  background-color: $sea-blue;
  width: 100%;
  height: 20rem;
  margin-top: 5rem;

  color: white;
}

.footer-content {
  padding-top: 5rem;
  padding-left: 2rem;
}

.footer-statement {
  color: $peach;
}

.footer-information {
  margin-left: 20rem;
}

.social-media {
  margin-left: 0rem;
}
