
//Text styling 


// Colors
$deepest-ocean: #282c34;
$dark-blue: #242582;
$olive: #553D67;
$peach: #F64C72;
$grey: #99738E;
$sea-blue: #2F2FA2;

$azure: #88BDBC;
$green-blue: #254E58;
$black-blue: #112D32;
$dirt: #4F4A41;
$light-mud: #6E6658;

$old-yellow: #F8E9A1;
$matte-red:#F76C6C;
$sky-blue:#A8D0E6;
$old-blue:#374785;
$tight-blue:#24305E;
