.bottom-menu {
  position: fixed;
  bottom: 20px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: 200px;
  height: 50px;
  z-index: 10;

  &:after {
    z-index: -1;
    content: '';
    width: 250px;
    height: 70px;
    position: absolute;
    transform: translate3d(-25px, -10px, 0);

    opacity: 0.3;
    background-color: grey;
    border-radius: 10px;
    border: 5px solid white;
  }

  &__item {
    border-radius: 10px;
    border: solid 0px black;
    background-color: $creatix-pink;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
    background-color: $creatix-white-deep-blue;
    &:focus {
      background-color: $creatix-shadow-purple;
    }
    &:active {
      background-color: $creatix-shadow-purple;
    }
    &__content {
      padding: 10px;
      text-align: center;
    }
  }
}
