.baseball-card {
  background-color: $creatix-white-light-blue;
  width: 18rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: $concrete;
  padding: 2rem;

  .split-view {
    border-top: 2px solid;
    border-color: $clouds;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .medium-text {
    margin: 0px;
    padding: 0px;
  }

  .horizontal {
    display: flex;
  }

  .skill-bars {
    //clip-path: inset(0px 10% 0px 0px);
    height: auto;
    display: flex;
    &.green {
      fill: $button-green;
    }
    &.yellow {
      fill: $button-yellow;
    }
    &.red {
      fill: $button-red;
    }
  }

  .skill-boxes {
    display: flex;
  }
}
