.searchbar {
  width: 100%;
}
.icon-center {
  display: flex;
  align-items: center;
}

.clap {
  cursor: pointer;
}

.feedback-list {
  list-style: none;
  margin: 0;
}

.feedback-item {
  border-width: 5px;
  width: 400px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.feedback-item__icon {
  display: flex;
  flex-direction: row;
}

.comment-list {
  list-style: none;
  margin: 0;
  overflow-y: scroll;
  max-height: 30vh;

  &-item {
    border-bottom: 1px solid gray;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}

.feedback-add-item {
  &__exit {
    border-radius: 100%;
    cursor: pointer;
    right: 8px;
    top: 4px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $creatix-gray;
    }

    &:active {
      border-radius: 100%;
      border-color: $creatix-pink;
      background-color: $creatix-gray;
    }
  }
}

.exit-button {
  border-radius: 100%;
  cursor: pointer;
  right: 8px;
  top: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--white {
    color: white;
  }

  &:hover {
    background-color: $creatix-gray;
  }

  &:active {
    border-radius: 100%;
    border-color: $creatix-pink;
    background-color: $creatix-gray;
  }
}

.comment {
  border-top: 1px solid $creatix-pink-shade;
}

.feedback-modal-item {
  border-bottom: $shadow-bottom solid 1px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
