.feedback-display {
  background-color: $clouds;
  border-radius: 0px;
  margin-bottom: 1rem;

  .feedback-list {
    padding: 1rem;

    .feedback-box {
      background-color: $electron-blue;
      margin-bottom: 0.2rem;
      padding: 1rem;
      border-radius: 0px;
      box-shadow: 7px 7px 7px $concrete;

      .box-text {
        font-family: "Creatix Medium";
        margin: auto;
      }
    }
  }
}

.feedback-form {
  display: flex;
  padding: 1rem;
  .feedback-text {
    margin-right: 1rem;
    border-radius: 8px;
  }
}
