.feedback-box {
  background-color: $creatix-white-light-blue;
  border-radius: 10px;
  margin-bottom: 1rem;

  .feedback-list {
    padding: 1rem;

    .feedback-box {
      background-color: $electron-blue;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 0px;

      .box-text {
        font-family: "Creatix Medium";
      }
    }
  }
}

.feedback-form {
  display: flex;
  .feedback-text {
    margin-right: 1rem;
    border-radius: 8px;
  }
}
