.input-field {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #d4dadf;
  box-shadow: 0 1px 0 transparent;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none;
  font-size: 16px;
  font-family: 'Creatix Medium';

  &:focus {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid $creatix-card-purple;
  }

  &__small {
    width: 25%;
  }
  &__medium {
    width: 50%;
  }

  &--no-margin {
    margin: 0;
  }

  &__textarea {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    &--dark-blue {
      color: white;
      background-color: $forest-blues;
      border: none;

      &:focus {
        outline: none;
        background-color: $forest-blues;
      }
    }

    &:focus {
      border: none;
      box-shadow: none;
      border: 2px solid $creatix-card-purple;
    }
  }
}

.input-label {
  text-align: left;
  font-size: 16px;
  font-family: 'Creatix Medium';
}

// Login form
.login-form {
  text-align: left;
  font-size: 16px;
  font-family: 'Creatix Medium';
}

.error-message {
  color: red;
  text-align: left;
  font-size: 16px;
  font-family: 'Creatix Medium';
}

.permission {
  padding-right: 1rem;
  padding-left: 1rem;
  &__select {
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;

    &--no-margin {
      margin: 0;
    }

    &--text {
      font-family: 'Creatix Light';
      color: $creatix-pink;
      font-size: 20px;
    }

    &:focus {
      border: none;
    }
  }

  &__option {
  }
  &--no-margin {
    margin: 0;
  }

  &--centered {
    align-items: center;
  }
}
